@keyframes hit-animation {
  0% {
    background-color: white;
  }
  20% {
    background-color: red;
  }
  40% {
    background-color: white;
  }
  60% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#game {
  width: 1000px;
  height: 1000px;
  background-color: lightgrey;
  position: relative;
}
#game .flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#game .ground {
  position: absolute;
  bottom: 90px;
  left: 100px;
  width: 800px;
  height: 3px;
  background-color: green;
}
#game .sun-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}
#game .sun-container .sun {
  width: 50px;
  height: 50px;
}
#game .box-1 {
  position: absolute;
  left: 30px;
  bottom: 5px;
  height: 80px;
}
#game .box-2 {
  position: absolute;
  left: 30px;
  top: 5px;
  height: 80px;
}
#game .cannon {
  position: absolute;
  left: 35px;
  bottom: 18px;
  width: 50px;
}
#game .bullet {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateX(25px);
}
#game .laser {
  position: absolute;
  left: 94px;
  bottom: 25px;
  width: 60px;
}
#game .ray {
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: green;
  transform: translateX(30px);
}
#game .trump {
  position: absolute;
  left: 163px;
  bottom: 25px;
  width: 60px;
}
#game .rocket {
  position: absolute;
  left: 163px;
  bottom: 25px;
  width: 60px;
}
#game .wall {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 60px;
}
#game .mirror {
  position: absolute;
  top: 4px;
  left: 93px;
  width: 60px;
}
#game .anti-trump {
  position: absolute;
  top: 16px;
  left: 163px;
  width: 60px;
}
#game .time {
  position: absolute;
  top: 86px;
  right: 70px;
  font-size: 2em;
}
#game .money-2 {
  position: absolute;
  top: 29px;
  left: 243px;
  font-size: 1.5em;
}
#game .money-1 {
  position: absolute;
  left: 243px;
  bottom: 29px;
  font-size: 1.5em;
}
#game .message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  background: linear-gradient(to right, black 0%, #6b6b6b 27%, black 100%);
  color: white;
  font-size: 3em;
}
#game .hit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff9999;
  z-index: -1;
  animation-name: hit-animation;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
#game .rotate {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}