@keyframes hit-animation{
  0%{
    background-color: white;
  }
  20%{
    background-color: red;
  }
  40%{
    background-color: white;
  }
  60%{
    background-color: red;
  }
  100%{
    background-color: white;
  }
}
@keyframes rotate{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}
body, html{
	margin: 0;
	width: 100%; height: 100%;
	overflow-y: hidden;
	background: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#game{
	width: 1000px; height: 1000px;
	background-color: lightgrey;
	position: relative;

	.flash { 
		position:fixed; 
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:#fff;
	}

	.ground{
		position: absolute;
		bottom: 90px; left: 100px;
		width: 800px;
		height: 3px;
		background-color: green;
	}

	.sun-container{
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0; left: 50%;
		transform: translateX(-50%);
		width: 500px;

		.sun{
			width: 50px; height: 50px;
		}
	}

	.box-1{
		position: absolute;
		left: 30px; bottom: 5px;
		height: 80px;
	}

	.box-2{
		position: absolute;
		left: 30px; top: 5px;
		height: 80px;
	}
	
	.cannon{
		position: absolute;
		left: 35px; bottom: 18px;
		width: 50px;
	}
	.bullet{
		position: absolute;
		width: 20px; height: 20px;
		border-radius: 50%;
		transform: translateX(25px);
	}


	.laser{
		position: absolute;
		left: 94px; bottom: 25px;
		width: 60px;
	}

	.ray{
		position: absolute;
		width: 4px; height: 40px;
		background-color: green;
		transform: translateX(30px);
	}

	.trump{
		position: absolute;
		left: 163px; bottom: 25px;
		width: 60px;
	}

	.rocket{
		position: absolute;
		left: 163px; bottom: 25px;
		width: 60px;
	}

	.wall{
		position: absolute;
		left: 30px;
		top: 25px;
		width: 60px;
		// transform: translateY(25px);
	}

	.mirror{
		position: absolute;
		top: 4px; left: 93px;
		width: 60px;
		// transform: translateY(-13px);
	}

	.anti-trump{
		position: absolute;
		top: 16px; left: 163px;
		width: 60px;
	}

	.time{
		position: absolute;
		top: 86px; right: 70px;
		font-size: 2em;
	}

	.money-2{
		position: absolute;
		top: 29px; left: 243px;
		font-size: 1.5em;
	}

	.money-1{
		position: absolute;
		left: 243px; bottom: 29px;
		font-size: 1.5em;
	}

	.message{
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0.5em;
		background:linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(107,107,107,1) 27%,rgba(0,0,0,1) 100%);
		color: white;
		font-size: 3em;
	}

	.hit{
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background-color: #ff9999;
		z-index: -1;
		animation-name: hit-animation;
		animation-duration: .4s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
	}

	.rotate{
		animation-name: rotate;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

}